<div id="loader-bg">
<div id="loading">
<%= image_tag 'rood.gif'%>
</div>
</div>


<div id="main-contents">
<h1> 検索結果</h1>
<div style="text-align:center; position: relative;">
  <h2 style="display: inline"> 条件</h2> <br>
  <h3 style="display: inline"><%= "駅名：#{@ekimei}" %></h3> <br>
  <h3 style="display: inline"><%= "指定距離：#{@kyori / 1000}km" %></h3><br>
    <%= link_to "検索へ戻る", root_path %>
</div>


  <%- @finish.each do |pr| %>
    <% url = "https://prtimes.jp/main/html/rd/p/#{pr['company_id']}.#{pr['release_id']}.html" %>
    <h1><%= pr["title"] %></h1>
    <div style="text-align:center; position: relative;">
      <%= image_tag(pr["main_image"]) %>
    <p style="width: 700px;margin: 0 auto">
      <%= pr["head"] %>
      <%= link_to "詳細はこちら",url %>
    </p>

    <p style="width: 700px;margin: 20px auto">
      <%= "会場：#{pr['address'][0]}" %>
    </p>

    <p><%= "#{@ekimei}から#{pr['distance']['text']}です" %></p>

    <div style="position:absolute; width: 90px;">
      <p style="font-size:20px"><%= pr["created_at"] %></p>
    </div>
    </div>
    <h2><%= pr["company_name"] %></h2>
  <% end %>



  <% if @page.to_i > 1 %>
    <%= link_to "戻る",summary_path(page: @page.to_i - 1, ekimei:@ekimei, kyori: @kyori, cate: @cate) %>
  <% end %>

  <%- @page_results.each do |pg| %>
    <%= link_to "#{pg[0]}",summary_path(page: pg[0]) %>
  <% end %>

  <% if @finish.length != 0 %>
    <%= link_to "次へ",summary_path(page: @page.to_i + 1, ekimei:@ekimei, kyori: @kyori,cate: @cate) %>
  <% end %>
</div>





<style>
h1{
  color:white;
  background-color:#485ECA;
  text-align: center;
}
h2{
   text-align: right;
}
</style>


